body{
    width: 100vw;
}
.homecenter {
    display: flex
;

    flex-direction: column-reverse;
}

.hero{
    width: 223px;
}

.home-text h1{
    width: 50%;
    font-size: 28px;
}

.home-text .marsBtn{
    background-color: black;
    display: flex
;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-size: 18px;
    border-radius: 20px;
    font-weight: bold;
    width: 200px;
    margin-top: 20px;
}

header{
    width: 100vw;
    padding:10px
}
.logo{
    font-size: 20px;
    
}

.navlist li .nav-item {

    font-size: 14px;
    padding: 9px 0;
   
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin:5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* .hamburger{
    display: block;
}
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
} */
.nav-list{
  position: fixed;
 left: -100%; 
 top:70px;
 gap: 0;
 flex-direction: column;
 background-color: black;
 width: 100%;
 text-align: center;
 transition: 0.3s;
}

.nav-item{
    margin: 16px 0;
}

.nav-list.active{
    left: 0;
}

.logo img{
    width: 168px;
    padding: 12px;
}



.leftinfo,.leftinfo1,.leftinfo2,.leftinfo3,.leftinfo4{
    width: 70vw;
   
    height: 250px;
    background-color: #0808083c;
    border-radius: 20px;
}
.innerbox,.infobox2{
    flex-direction: column;
}
.righttext{
    width: 100%;
}
.righttext2{
    width: 100%;
}

.leftinfo2,.leftinfo1{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

section{
    overflow-x: hidden;

}

.infoboxheading{
    font-size: 27px;
    color: white;
      font-family: "Noto Sans", sans-serif;
      text-align: center;
}
.subtext{
    color: white;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
}
.infobox2{
    height: 600px;
}
.consolerotate{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: -46px;
    top: 118px;
    right: 0;
    z-index: -1;
    
    width: 74px;
    animation: rotate 50s infinite linear ;
}

.navigation{
    padding:6px;
}

#aboutustext{
    font-size: 15px;
}
