
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style:none;
    font-family: "Outfit", sans-serif;
}
:root{
    --color-text:#cdc6c3;
    --hover-color:#70efbf;
    --neon-box-shadow: 0 0 .5rem #70efbf;
    --index:calc(1vw+1vh);
}
body{
    background-image: url(../Images/background3.png);
    
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

a{
    color: white;
}
.navigation{
    position:fixed;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: #00000024;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight:600;
    font-size:30px;
    color: var(--hover-color);
}

.logo img{
    
    width: 200px;
 
}

header .navlist{
    display: flex;
}

.navlist li{
    margin: 0 1.5rem;
}

.navlist li .nav-item{
    position:relative;
    padding:15px 0;
    font-weight: 500;
    font-size: 1.1rem;
    transition: all .2s ease;
}

.navlist li .nav-item:hover::before{
    width: 100%;
}

.navlist li .nav-item::before{
    content:"";
    position: absolute;
    left: 0;
    bottom:-2px;
    width: 0;
    height:1px;
    background:var(--hover-color);
    border-radius: 50%;
    transition:all .3s ease;
}

.navlist li .active{
    color: var(--hover-color);
    border-bottom: 1px solid var(--hover-color)
}
.home{
    padding: 100px 21%;
}


.home-img{

    z-index: -1;
    width: 500px;

    height: 100%;
}



.innerbox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;

}


.botfloat{
    width: 20px;
}
@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
        
    }
    to{
      opacity: 1;
        scale: 1;
       
    }
}
#secondsection,#thirdsection,#fourthsection,#fifthsection{
    animation: appear linear;
    animation-range: entry 0 cover 40%;
    animation-timeline: view();
}

.consolerotate{
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: -1;
    width: calc(var(--index)*45);
    animation: rotate 100s infinite linear;
    
}
.hero{
   
    filter: drop-shadow(40px 5px 5px rgba(0, 0, 0, 0.288));
    animation: levitate 100s infinite both;
}
.home{
    height:100vh;
    display: flex;
    width: 100%;

    align-items: center;
    color: #fff;
    /* width: 100%; */
}
.home-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.home-text h1,h2{
    font-size: 50px;
    
    font-weight: 800;
    text-shadow: 1;
    display: block;
    width: 35vw;
}
.home-text .marsBtn{
 background-color: black;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 12px;
 font-size: 20px;
 border-radius: 20px;
 font-weight: bold;
 margin-top: 20px;
}
span{
    color: var(--hover-color);
}


.homecenter{
    display: flex;
}
@keyframes rotate{
    form{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}


#secondsection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.infobox1{
    width: 80vw;
    height: 500px;
    background-color: rgb(32, 31, 31);
    border-radius: 20px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to right, #761975, #1c1c1db3, #24243e);
    box-shadow: 10px 5px 5px rgba(9, 9, 9, 0.543);
}

.leftinfo{
    width: 50%;
    height: 400px;
    background-color: #0808083c;
    border-radius: 20px;
    background-image: url(../Images/new2.gif);
    
}
.righttext,.righttext2{
    
    width: 50%;
    padding: 20px;

}
#infoboxheading1{
    font-size: 50px;
    color: white;
}



#thirdsection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 100px;
    
}

.infobox2{
    width: 80vw;
    height: 500px;
    background-color: rgb(32, 31, 31);
    border-radius: 20px;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    background-image: url(../Images/background1.jpg);
    box-shadow: -10px 10px 5px rgba(6, 5, 5, 0.324);
}

.leftinfo2{
    width: 40vw;
    height: 400px;
    background-color: #0808083c;
    border-radius: 20px;
    background-image: url(../Images/new4.gif);
    
}

.infoboxheading{
    font-size: 50px;
    color: white;
      font-family: "Noto Sans", sans-serif;
}
.subtext{
    color: white;
    font-family: "Noto Sans", sans-serif;
    /* width: 70%; */
}


/* footer */


  
  .gaming-footer {
    margin-top: 100px;
    background-color: #19191ab3;
    color: #fff;
    padding: 40px 20px;
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    /* width: 100vw; */
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .footer-container div {
    flex: 1;
    min-width: 200px;
  }
  
  .footer-about h3 {
    color: var(--hover-color);
  }
  
  .footer-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin: 8px 0;
  }
  
  .footer-links ul li a {
    text-decoration: none;
    color: var(--hover-color)
  }
  
  .footer-links ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-contact a {
    color: var(--hover-color);
    text-decoration: none;
  }
  
  .footer-contact a:hover {
    text-decoration: underline;
  }
  
  .footer-social .social-icons a {
    margin-right: 10px;
    color: var(--hover-color);
    font-size: 20px;
  }
  
  .footer-social .social-icons a:hover {
    color: #e74c3c;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    border-top: 1px solid #444;
    padding-top: 10px;
  }
  

